.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.icon {
    font-size: '48px';
    color: #ffcc00;
}

.text {
    margin-top: '10px';
    font-size: '16px';
    color: '#333',
}