body {
    background: whitesmoke
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.cell {
    vertical-align: middle;
    display: table-cell;
}

.profile-button:hover {
    background: lightblue
}

.profile-button:focus {
    background: lightblue;
    box-shadow: none
}

.profile-button:active {
    background: blue;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px;
}

/* input[type="text"],
input[type="password"],
input[type="number"],
.input{
    border: none;
    outline: none;
} */

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}