.players-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.players-flex-Box {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  text-align:center;
  padding: .5rem;
}

.player-card {
  width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.2);
  font-family: 'Arial', sans-serif;
}
  
.imageContainer {
  display: flex;
}

.profileImage {
  width: 75%;
  height: 75%;
  border-radius: 3rem;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 24px;
  background: #1e1e1e;
  border: 1px solid #333;
  width:50%;
  max-width: 600px;
}

.chat-input input {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
}

.chat-input input::placeholder {
  color: #888;
}

.send-btn {
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.send-btn:hover {
  background: #8781eb; ;
}
