.players-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.players-flex-Box {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  text-align:center;
}

.player-card {
  width: 25%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.2);
  font-family: 'Arial', sans-serif;
  justify-content: center;
  align-items: center;
}
  
.imageContainer {
  padding: .1rem;
  display: flex;
}

.profileImage {
  width: 50%;
  height: auto;
  border-radius: 0.5rem;
  margin:0;
  padding: 0;
}

.detailsContainer {
  justify-content: center;
  width: 80%;
  padding: .1rem;
}