.edit-profile {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(27, 24, 24);
}

.save-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-field {
    color: rgb(198, 196, 196);
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
}