html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 24, 24);
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  width: 100%;
}
