* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left img {
    height: 40px; /* Adjust height as needed */
    border-radius: 25px;
}

.navbar-right {
    display: flex;
    align-items: center;
    height: 40px;
}

.navbar-right img {
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    padding-right: .1em;
}

.search-form {
    display: flex;
    margin-right: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
    color: black;
}

.search-form button {
    background-color: #555; /* Green */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn {
    background-color: #555; /* Dark gray */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn:hover {
    background-color: #333; /* Slightly darker */
}