/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: black;
} */

.navbar {
    color: black;
    background-color: rgba(27, 24, 24, 0.812);
    border-bottom: .001em solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    padding-right: 0px;
    
}

.navbar-left h1 {
    color: rgb(198, 196, 196);
    height: 40px;
    border-radius: 25px;
    padding-left: 5em;
    font-size: 2em;
    white-space: nowrap;
    display: inline;
}

.navbar-left a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    margin-right: 20px; /* Space between items */
}

.navbar-left p {
    color: rgb(198, 196, 196);
    height: 40px;
    border-radius: 25px;
    padding-left: 1em;
    font-size: 1em;
    white-space: nowrap;
    display: inline;
}

.navbar-right {
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 8em;
}

.navbar-right img {
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 4em;
    padding-right: .1em;
}

.search-form {
    display: flex;
    margin-right: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
    color: black;
}

.search-form button {
    background-color: #555; /* Green */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn {
    background-color: #555; /* Dark gray */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn:hover {
    background-color: #333; /* Slightly darker */
}