.profile {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(27, 24, 24);
}

.header {
    color: rgb(198, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 24px;
    color: rgb(198, 196, 196);
    margin: 0;
}

.edit-btn {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.profile-info {
    color: rgb(198, 196, 196);
    display: flex;
    flex-wrap: wrap;
}

.profile-picture {
    flex: 0 0 200px;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.connections {
    margin-top: 10px;
}

.connections a {
    display: block;
    text-decoration: none;
    color: rgb(198, 196, 196);
    margin-bottom: 5px;
}

.user-details {
    color: rgb(198, 196, 196);
    flex: 1;
}

.user-details h2 {
    font-size: 20px;
    color: rgb(198, 196, 196);
    margin-bottom: 5px;
}

.user-details p {
    color: rgb(198, 196, 196);
    margin-bottom: 0;
}

span {
    margin-right: 10px;
}