.card {
  width: 200px;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.2);
  font-family: 'Arial', sans-serif;
}

.imageContainer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContainer {
  padding: 0px;
  margin: 0px;
}

.name {
  font-size: 24px;
  margin: 0;
  color: #4f46e5;
}

.details {
  font-size: 16px;
  color: #666;
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  outline: 0;
  cursor: auto;
}

th {
  text-align: left;
}

p {
  color: white;
}