.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
  min-width: 0;
}

a button {
  cursor: pointer;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.cell-outside {
  flex: 10%;
  height: 100%;
}

.cell-middle {
  flex: 80%;
  height: 100%;
  overflow: hidden;
}