.login-container {
    border-radius: 2rem;
    padding: 1rem;
    width: 65%;
    height: 75%;
    text-align: center;
    margin: auto;
}

.login-container h2 {
    margin-bottom: 2rem;
}

.input-field {
    margin-bottom: 15px;
    text-align: left;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input[type="text"],
.input-field input[type="password"] {
    width: 35%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.create-account-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}
.create-account-btn:hover,
.create-account-btn:focus {
    background-color: #333;
    color: #fff;
}
.sign-in-link {
    font-size: 14px;
    margin-top: 10px;
}
.sign-in-link a {
    color: #333;
    text-decoration: none;
}
.sign-in-link a:hover {
    text-decoration: underline;
}